/******* GÉNÉRAL *******/

::-moz-selection {
    background: var(--txt);
    color: var(--bg);
    text-shadow: none;
}
::selection {
    background: var(--txt);
    color: var(--bg);
    text-shadow: none;
}

:root {
    --scroll-top: 0px;
}

html {
    font-size: 62.5%; /* sets the base font to 10px for easier math */
    background: var(--bg);
    &.no-scroll {
        position: fixed;
        overflow: hidden;
        width: 100%;
        left: 0;
        right: 0;
        top: var(--scroll-top);
    }
}

body {
    font: 1.6em / 1.63 var(--roboto);
    color: var(--txt);
    font-kerning: normal;
    font-weight: 400;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wysiwyg p {
    margin-bottom: 2rem;
}

.wysiwyg ul {
    margin-bottom: 2rem;
    padding: 0;
    li {
        position: relative;
        margin: 5px 0;
        padding: 0 0 0 30px;
        &::before {
            content: '';
            position: absolute;
            top: 0.6em;
            left: 10px;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background: var(--txt);
        }
    }
}

.wysiwyg ol {
    margin-bottom: 2rem;
    padding: 0;
    li {
        position: relative;
        margin: 5px 0;
        padding: 0 0 0 40px;
        &::before {
            position: absolute;
            top: 0;
            left: 10px;
            display: block;
            color: var(--txt);
        }
    }
}

.wysiwyg a,
.wysiwyg strong {
    font-weight: 700;
}

.wysiwyg {
    h2,
    h3,
    h4 {
        margin-bottom: 2rem;
    }
}

.wysiwyg > *:last-child {
    margin-bottom: 0;
}

.basic-h1 {
    font-family: var(--urbanist);
    font-weight: 600;
    font-size: 6rem;
    line-height: 6rem;
}

.basic-h2,
.wysiwyg h2 {
    font-family: var(--urbanist);
    font-weight: 600;
    font-size: 4rem;
    line-height: 4rem;
}

.basic-h3,
.wysiwyg h3 {
    font-family: var(--urbanist);
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 4.2rem;
}

.basic-h4,
.wysiwyg h4 {
    font-family: var(--urbanist);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.basic-small-txt {
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.basic-subtitle {
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: 400;
    margin: 0;
}

.basic-tag {
    font-family: var(--urbanist);
    font-size: 1.4rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.basic-txt {
    font-size: 1.8rem;
    line-height: 2.3rem;
    p {
        margin: 1em 0;
        font-size: 1.8rem;
        line-height: 2.3rem;
    }
}

strong {
    font-weight: 500;
}

blockquote {
    margin: 40px 0;
    padding: 0 0 0 20px;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 28px;
    font-style: italic;
    border-left: 1px solid currentColor;
    color: $neptune;
}

ol,
ul {
    padding: 0;
    list-style-type: none;
}
ul {
    ul {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}
ol {
    counter-reset: ol-counter;
    > li {
        counter-increment: ol-counter;
        &::before {
            content: counter(ol-counter) '.';
        }
    }
    ol {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

// COMBAK: Remove if not used
dt,
dd {
    display: inline;
    margin: 0;
}
dt {
    &::after {
        content: ': ';
    }
}
dd {
    + dt {
        &::before {
            content: '\A';
            white-space: pre;
        }
    }
    + dd {
        &::before {
            content: ', ';
            margin: 0 0 0 -0.25em;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    max-width: 100%;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

/******* LIENS / BOUTONS *******/

a {
    color: inherit;
}

/******* CLASSES GENERALES  *******/

.clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.inline-b {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-0.1em);
}

.full-width {
    width: 100%;
}

.no-transition {
    transition: none !important;
    &::after,
    &::before {
        transition: none !important;
    }
}

.visually-hidden {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
    margin: -1px !important;
    overflow: hidden !important;
}

.page-enter,
.page-leave-to {
    .loading-overlay {
        opacity: 1 !important;
    }
}

.layout-enter-active,
.layout-leave-active {
    transition: opacity 0.4s;
}

.layout-enter,
.layout-leave-to {
    .loading-overlay.layout-overlay {
        opacity: 1 !important;
    }
}

@media (min-width: $phone) {
    body {
        font-size: #{$text-size-desktop * 0.1}rem;
    }
}

@media (min-width: $desktop) {
    .wysiwyg img {
        width: math.percentage(math.div(8, 6));
        max-width: none;
        margin-left: -#{math.percentage(math.div(1, 6))};
    }
    .basic-h1 {
        font-size: 8rem;
        line-height: 8rem;
    }
    .basic-h2,
    .wysiwyg h2 {
        font-size: 5rem;
        line-height: 5rem;
    }
    .basic-subtitle {
        font-size: 2.3rem;
        line-height: 3rem;
    }
    .basic-txt {
        font-size: 2.3rem;
        line-height: 3rem;
        p {
            font-size: 2.3rem;
            line-height: 3rem;
        }
    }
}

@media (min-width: $desktop) {
    .wysiwyg img {
        width: math.percentage(math.div(10, 8));
        margin-left: -#{math.percentage(math.div(1, 8))};
    }
}

@media (min-width: $desktop-large) {
    .wysiwyg img {
        width: math.percentage(math.div(8, 6));
        margin-left: -#{math.percentage(math.div(1, 6))};
    }
}

@media (min-width: $desktop-xxl) {
    html {
        font-size: 0.6944444vw;
    }
}
