/* Urbanist */
@font-face {
    font-display: swap;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    src: url('~static/fonts/urbanist-v15-latin-600.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    src: url('~static/fonts/urbanist-v15-latin-700.woff2') format('woff2');
}

/* Roboto */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('~static/fonts/roboto-v30-latin-regular.woff2') format('woff2');
}
