/* Forms */

::-webkit-input-placeholder {
}
::-moz-placeholder {
}
:-ms-input-placeholder {
}

fieldset {
}

input,
textarea,
select,
button {
    &:focus {
        outline: 0;
    }
}

input,
textarea {
    &:-webkit-autofill {
        box-shadow: 0 0 0 1000px #fff inset;
    }
    &:invalid {
        // FF red borders
        box-shadow: none;
    }
}

input {
    display: block;
    position: relative;
    font-size: 1.6rem;
    line-height: 26px;
    padding: 9px 0 15px;
    border: 0;
    border-bottom: 1px solid $neptune;
    color: $white;
    // hide the symbols of input search
    &[type='search'] {
        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            display: none;
        }
    }
}

select {
    // hide the arrow on edge + ie
    &::-ms-expand {
        display: none;
    }
}

button {
    border: 0;
}

.wrapper-field {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    .label {
        font-size: 1.6rem;
        line-height: 25px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 9px 0 15px;
        user-select: none;
        pointer-events: none;
    }
    input,
    textarea {
        width: 100%;
        &:focus,
        &.on {
            + .label {
                opacity: 0;
                + .border-overlay {
                    transform: scaleX(1);
                    opacity: 1;
                    transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1), opacity 0.2s ease-in-out;
                }
            }
        }
    }
    &.error {
        input {
            border-color: #f74656;
            color: #f74656;
        }
    }
    .border-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid $white;
        transform: scaleX(0);
        opacity: 0;
        transform-origin: 0% 0%;
        transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1), opacity 0.2s ease-in-out 0.2s;
    }
}
