/* Grid */

.wrapper {
    overflow-x: hidden;
}

.container {
    padding: 0 var(--gutter);
    margin: 0 auto;
    &.content-pad {
        padding-left: calc(var(--gutter) * 2);
        padding-right: calc(var(--gutter) * 2);
    }
}

.container-small {
    &.content-pad {
        padding-left: var(--gutter);
        padding-right: var(--gutter);
    }
}

.content-pad {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}

@media (min-width: $desktop) {
    .container-small {
        width: math.percentage(math.div(10, 12));
        margin: 0 auto;
    }
}
